<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/main.css">
    <title>To Do</title>
</head>
<body>
    <div id="vm">
        <form v-on:submit="addNewTodo">
            <input type="text" name="item_name" v-model="item_name">
            <input type="submit" name="submit" value="追加">
        </form>
        <div id="lists">
            <ul id="todo_list">
                <li is="todo-item" v-for="item in item_list" v-bind:item="item" :key="item" v-on:done="closeTodo(item)"></todo-item>
            </ul>
            <ul id="done_list">
                <li is="done-todo-item" v-for="item in done_item_list" v-bind:item="item" :key="item"></li>
            </ul>
        </div>
    </div>
    <script src="assets/vue.js"></script>
    <script src="assets/main.js"></script>
</body>
</html>