* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
}

main {
    padding: 2%;
}

li {
    list-style: none;
    padding: 1%;
}

#lists {
    justify-content: space-between;
}

#todo_list, #done_list {
    min-height: 10vh;
    padding: 1.5vw;
}

#todo_list .todo_item {
    background: #bca;
}

#done_list .todo_item {
    background: #cab;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.list_wrapper {
    width: 100%;
    margin-top: 3vh;
}

.list_wrapper_header {
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .list_wrapper {
        width: 47vw;
    }
}

.todo_item {
    margin: 1vh 0;
    word-wrap: break-word;
}

.listing-enter-active, .listing-leave-active {
    transition: all 0.3s;    
}

.listing-leave-active {
    position: absolute;
}

.listing-enter {
    transform: translateX(-20px);
    opacity: 0;
}

.listing-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.listing-move {
    transition: transform 0.5s;
}