* {
    margin: 0;
    padding: 0;
}

main {
    padding: 2%;
}

li {
    list-style: none;
}

li::after {
    content: '';
    display: block;
    width: 85%;
    border-bottom: 1px solid #555;
    margin: 2% auto 1%;
}

#lists {
    justify-content: space-between;
}

#todo_list, #done_list {
    min-height: 10vh;
    padding: 1.5vw;
}

#todo_list {
    background: #bca;
}

#done_list {
    background: #cab;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.list_wrapper {
    width: 100%;
    margin-top: 3vh;
}

.list_wrapper_header {
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .list_wrapper {
        width: 47vw;
    }
}

.todo_item {
    margin: 1vh 0;
    word-wrap: break-word;
}